---
Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 2
TabWidth: 2
UseTab: Never
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWrappedFunctionNames: false
NamespaceIndentation: None

# Line breaks
ColumnLimit: 120
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Pointers and references
DerivePointerAlignment: false
PointerAlignment: Left

# Includes
IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
  # ModAPI headers (highest priority)
  - Regex: '^"ModAPI/'
    Priority: 1
  # Local project headers
  - Regex: '^"(Foundation|Engine|Services|Framework)/'
    Priority: 2
  # C++ standard library
  - Regex: '^<(algorithm|array|atomic|chrono|concepts|coroutine|expected|filesystem|format|functional|future|iostream|iterator|map|memory|mutex|optional|ranges|regex|set|span|sstream|string|string_view|thread|tuple|type_traits|unordered_map|utility|variant|vector)>'
    Priority: 3
  # Third-party libraries
  - Regex: '^<(imgui|ImGui|minhook|MinHook|nlohmann|glm|toml).*>'
    Priority: 4
  # Windows headers
  - Regex: '^<(Windows|d3d11|dxgi)\.h>'
    Priority: 5
  # Everything else
  - Regex: '.*'
    Priority: 6

# Modern C++ features
Cpp11BracedListStyle: true
FixNamespaceComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: true
SortUsingDeclarations: true
Standard: c++20  # Set to latest supported, will use C++26 features when available

# Functions
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true

# Other
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 200
